.header {
    text-align: center;
    border: 1px solid black;
  
    font-size: 125%;
}
.banner {
    
        text-align: center;
        border: 1px solid #ccc;
        background-color: lightgray;
        height: 20%;
        width: auto;
        font-size: 125%;
    }
.banner h3 {
    padding: 5px;
    justify-content: center;
}
.banner p {
    margin-left: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
.link {
        display: flex;
        border: 1px solid rgb(19, 18, 18);
        padding: 2px;
        float: left;
        margin-top: 20px;
    
    }
    .link a {
      text-decoration: none;
    }
/*.chart {
    float: right;
}*/
.article1 {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightgray;
    text-align: left;
  }
.article {
  border: 3px solid #ccc;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  height: auto;
  background-color: lightgray;
  border-radius: 5px;
}


  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  h3 {
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  ul, ol {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 5px;
  }

.hidden {
    display: none;
}

.rating {
  border: 1px solid #ccc;
  width: 50%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}
/*.active {
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
}*/

@media screen and (min-width: 720px) {
  .rating {
    width: 20%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
  }



}